.Comment .annotation{
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	color: rgb(0, 0, 0, 0.8);
	letter-spacing: 0.01rem;
	line-height: 1.4;
	font-family: 'medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif';
}

.Comment .annotation{
	cursor: pointer;
}

.Comment .annotation span{
	background-color: rgba(233, 253, 240, 1) !important;
}

.Comment a{
	text-decoration: none;
}

.Comment a:hover{
	text-decoration: none;
}

.Comment .content{
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	color: rgb(0, 0, 0, 0.8);
	letter-spacing: -.004em;
	line-height: 1.58;
	font-family: 'medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif';	
}