.InlineCommentInputContainer{
	min-width: 300px;
}

.InlineCommentInputContainer .annotation{
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	color: rgb(0, 0, 0, 0.8);
	letter-spacing: 0.01rem;
	line-height: 1.4;
	font-family: 'medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif';
}

.InlineCommentInputContainer .annotation span{
	background-color: rgba(233, 253, 240, 1) !important;
}

.InlineCommentInputContainer form button{
	margin-right: 10px;
	margin-top: 10px;
}