.PostContentContainer section{
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -.004em;
	font-family: 'medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif'
}

.PostContentContainer .blink{
	animation: blinker 1s linear 2;
}

@keyframes blinker {  
  50% { opacity: 0; }
}